@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply text-3xl my-6;
  }

  .h2 {
    @apply text-2xl my-4;
  }

  .h3 {
    @apply text-xl my-2;
  }

  .form {
    @apply flex flex-col gap-y-4 w-full;
  }

  .label {
    @apply block mb-1 text-sm;
  }

  .input {
    @apply border border-input rounded-lg p-1 w-full text-sm;
  }

  .textarea {
    @apply border border-input rounded-lg p-1 w-full text-sm;
  }

  .select {
    @apply border border-input rounded-lg p-1 w-full text-sm;
  }

  .fieldset {
    @apply border border-solid border-input rounded-lg p-4 text-sm;
  }

  .error {
    @apply text-error text-xs;
  }

  .result-area {
    @apply flex flex-col items-center p-5 mx-5 rounded-lg overflow-x-auto;
  }

  .result-message {
    @apply mb-8 px-4 py-2 border border-borders bg-tertiary;
  }

  .form-area {
    @apply flex flex-col items-center max-w-sm p-4 my-0 mb-2 mx-auto rounded-lg bg-blank;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  box-sizing: border-box;
  background-color: #f7f7f7;

  * {
    box-sizing: inherit;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
