@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h1 {
    @apply text-3xl my-6;
  }

  .h2 {
    @apply text-2xl my-4;
  }

  .h3 {
    @apply text-xl my-2;
  }

  .form {
    @apply flex flex-col gap-y-4 w-full;
  }

  .input {
    @apply border border-bayoux rounded-lg p-1 w-full;
  }

  .textarea {
    @apply border border-bayoux rounded-lg p-1 w-full;
  }

  .select {
    @apply border border-bayoux rounded-lg p-1 w-full;
  }

  .fieldset {
    @apply border border-solid border-bayoux rounded-lg p-4;
  }

  .submit-button {
    @apply bg-blue text-white rounded-lg p-2 hover:saturate-150;
  }

  .error {
    @apply text-redPink text-sm;
  }

  .result-area {
    @apply flex flex-col items-center p-8 m-6 rounded-lg overflow-x-auto bg-blank;
  }

  .form-area {
    @apply flex flex-col items-center max-w-sm p-8 my-0 mx-auto rounded-lg bg-blank;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
