@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form {
    @apply flex flex-col gap-y-4 w-full;
  }

  .input {
    @apply border border-bayoux rounded-lg p-1 w-full;
  }

  .textarea {
    @apply border border-bayoux rounded-lg p-1 w-full;
  }

  .select {
    @apply border border-bayoux rounded-lg p-1 w-full;
  }

  .submit-button {
    @apply bg-blue text-white rounded-lg p-2 hover:saturate-150;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
